<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softlab.okr.mapper.BookMapper">
  <resultMap id="bookMap" type="com.softlab.okr.model.entity.Book">
    <id property="bookId" column="book_id"/>
    <result property="bookName" column="book_name"/>
    <result property="img" column="img"/>
    <result property="publisher" column="publisher"/>
    <result property="price" column="price"/>
    <result property="status" column="status"/>
    <result property="userId" column="user_id"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
  </resultMap>

  <resultMap id="VoMap" type="com.softlab.okr.model.vo.BookVO">
    <id property="bookId" column="book_id"/>
    <result property="bookName" column="book_name"/>
    <result property="img" column="img"/>
    <result property="publisher" column="publisher"/>
    <result property="price" column="price"/>
    <result property="userName" column="user_name"/>
    <result property="status" column="status"/>
  </resultMap>


  <sql id="baseColumn">
    `book_id`,`book_name`,`img`,`publisher`,`price`,`status`,`user_id`,`create_time`,`update_time`
  </sql>

  <sql id="bookTagColumn">
    `book_id`,`tag_id`
  </sql>

  <sql id="table">
    `book_tag`
  </sql>

  <!--选择全部-->
  <select id="selectList" resultMap="VoMap">
    select
    book.book_id,
    book.book_name,
    book.img,
    book.publisher,
    book.price,
    user_info.name as user_name,
    book.status
    from book
    join user_info on book.user_id=user_info.user_id
  </select>

  <!--    根据条件选取book-->
  <select id="selectByCond" resultMap="VoMap">
    select
    book.book_id,
    book.book_name,
    book.img,
    book.publisher,
    book.price,
    user_info.name as user_name,
    book.status
    from book
    join user_info on book.user_id=user_info.user_id
    where 1=1
    <if test="bookName!='' and bookName!=null">and `book_name` like '%${bookName}%'</if>
    <if test="publisher!='' and publisher!=null">and `publisher` like '%${publisher}%'</if>
    <if test="status!=null">and `status` = #{status}</if>
  </select>

  <insert id="insertBook" useGeneratedKeys="true" keyProperty="bookId">
    insert into
    `book`(<include refid="baseColumn"></include>)
    values
    (null,#{bookName},#{img},#{publisher},#{price},0,null,NOW(),NOW())
  </insert>

  <select id="selectTagIdByBookId" resultType="Integer">
    select
    `tag_id`
    from
    <include refid="table"></include>
    where `book_id`=#{bookId}
  </select>

  <insert id="insertBookTag" parameterType="booktagbo">
    insert into
    `book_tag`(<include refid="bookTagColumn"></include>)
    values
    <foreach collection="tagIdList" item="item" separator=",">
      (#{bookId},#{item})
    </foreach>
  </insert>

  <delete id="deleteBookTagByBookId">
    delete from
    <include refid="table"></include>
    where book_id=#{bookId}
  </delete>

  <delete id="deleteBookTagByTagId">
    delete from
    <include refid="table"></include>
    where tag_id=#{tagId}
  </delete>

  <delete id="deleteById">
    delete from `book`
    where book_id =#{bookId}
  </delete>

  <update id="updateImg">
    update `book` set `img`=#{img} where `book_id`=#{bookId}
  </update>

  <update id="updateById">
    update `book` set
    `book_name`=#{bookName},
    `publisher`=#{publisher},
    `price`=#{price},
    `status`=#{status},
    `update_time`=now()
    where book_id=#{bookId}
  </update>

  <update id="borrowBook">
    update `book` set
    `status`=1,
    `user_id`=#{userId}
    where `book_id`=#{bookId}
  </update>

  <update id="returnBook">
    update `book` set
    `status`=0,
    `user_id`=#{userId}
    where `book_id`=#{bookId}
  </update>


</mapper>
