<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softlab.okr.mapper.KeyMapper">
  <resultMap id="keyMap" type="com.softlab.okr.model.entity.Key">
    <id property="keyId" column="key_id"/>
    <result property="keyName" column="key_name"/>
  </resultMap>
  <select id="selectList" resultMap="keyMap">
        select key_id,`key_name` from `key`
    </select>

  <insert id="insertUser">
        insert into `key_user`(`key_id`,`user_id`)
        values (#{keyId},#{userId})
    </insert>

  <delete id="deleteByUserId">
        delete from `key_user`
        where key_id=#{keyId} and user_id=#{userId}
    </delete>

  <insert id="insertKey">
        insert `key`  (key_id,key_name)
        values
        (null,#{keyName})
    </insert>

  <update id="updateKey">
        update `key` set
        key_name=#{keyName}
        where key_id=#{keyId}
    </update>

  <delete id="deleteById">
        delete from `key`
        where `key_id`=#{keyId}
    </delete>

</mapper>

