<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softlab.okr.mapper.LoginLogMapper">
  <resultMap id="loginLogMap" type="com.softlab.okr.model.entity.LoginLog">
    <id property="loginId" column="login_id"/>
    <result property="ip" column="ip"/>
    <result property="username" column="username"/>
    <result property="path" column="path"/>
    <result property="time" column="time"/>
    <result property="duration" column="duration"/>
  </resultMap>

  <sql id="base_column">
    `login_id`,`ip`,`path`,`username`,`time`,`duration`
  </sql>

  <select id="selectList" resultMap="loginLogMap">
    select
    <include refid="base_column"></include>
    from `login_log`
  </select>

  <select id="selectByCond" resultMap="loginLogMap">
    select
    <include refid="base_column"></include>
    from `login_log`
    where 1=1
    <if test="username!='' and username!=null">and `username` like '%${username}%'</if>
  </select>

  <insert id="insertLog">
    insert into `login_log`(<include refid="base_column"></include>)
    values (null,#{ip},#{path},#{username},now(),#{duration})
  </insert>

</mapper>

