<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softlab.okr.mapper.SwitchMapper">
  <resultMap id="switchMap" type="com.softlab.okr.model.entity.Switch">
    <id property="switchId" column="switch_id"/>
    <result property="name" column="name"/>
    <result property="status" column="status"/>
  </resultMap>

  <sql id="baseColumn">
        `name`,`status`,
    </sql>

  <sql id="table">
    `switch`
  </sql>

  <!--选择全部-->
  <select id="selectList" resultMap="switchMap">
    select
    <include refid="baseColumn"></include>
    from
    <include refid="table"></include>
  </select>


  <select id="selectStatus" resultType="Byte">
    select `status` from
    <include refid="table"></include>
    where `name`=#{name}
  </select>

  <insert id="insertSwitch">
    insert into
    <include refid="table"></include>
    (<include refid="baseColumn"></include>)
    values
    (#{name},0)
  </insert>

  <delete id="deleteByName">
    delete from
    <include refid="table"></include>
    where `name`=#{name}
  </delete>

  <update id="updateStatus">
    update
    <include refid="table"></include>
    set status=ABS(status-1)
    where name=#{name}
  </update>


</mapper>
