<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softlab.okr.mapper.TaskConfigMapper">
  <resultMap id="taskConfigMap" type="com.softlab.okr.model.entity.TaskConfig">
    <id property="id" column="id"/>
    <result property="taskId" column="task_id"/>
    <result property="description" column="description"/>
    <result property="cron" column="cron"/>
    <result property="status" column="status"/>
  </resultMap>

  <sql id="baseColumn">
        `id`,`task_id`,`description`,`cron`,`status`
    </sql>

  <select id="selectByTaskId" resultMap="taskConfigMap">
    select
    <include refid="baseColumn"></include>
    from `task_config` where `task_id`=#{taskId}
  </select>

  <select id="selectList" resultMap="taskConfigMap">
    select
    <include refid="baseColumn"></include>
    from `task_config`
  </select>

  <select id="selectByStatus" resultMap="taskConfigMap">
    select
    <include refid="baseColumn"></include>
    from `task_config`
    where status=#{status}
  </select>

  <select id="selectTaskIdAndByStatus" resultMap="taskConfigMap">
    select
    <include refid="baseColumn"></include>
    from `task_config`
    where status=#{status} and task_id=#{taskId}
  </select>

  <insert id="insertTaskConfig">
    insert into
    `task_config`(<include refid="baseColumn"></include>)
    values
    (null,#{taskId},#{description},#{cron},#{status})
  </insert>

  <delete id="deleteById">
    delete from `task_config`
    where task_id =#{taskId}
  </delete>

  <update id="updateTaskConfig">
        update `task_config` set
        `description`=#{description},
        `cron`=#{cron},
        `status`=#{status}
        where `task_id`=#{taskid}
    </update>


</mapper>
