<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itlab.blog.mapper.BookUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itlab.blog.entity.BookUser">
        <id column="id" property="id"/>
        <result column="book_id" property="bookId"/>
        <result column="user_id" property="userId"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, book_id, user_id, status
    </sql>

    <select id="selectBookUserVO" resultType="com.itlab.blog.model.vo.BookUserVO">
        select
        bu.id,
        book.book_name,
        ui.name,
        bu.status,
        bu.update_time
        from book_user bu
        join `book` on bu.book_id=book.book_id and book.delete_flag=0
        join `user_info` ui on bu.user_id=ui.user_id
        order by bu.id desc
    </select>

</mapper>
