<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softlab.okr.mapper.BookMapper">
    <resultMap id="BaseResultMap" type="com.softlab.okr.entity.Book">
        <id property="bookId" column="book_id"/>
        <result property="bookName" column="book_name"/>
        <result property="img" column="img"/>
        <result property="publisher" column="publisher"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="VoMap" type="com.softlab.okr.model.vo.BookVO">
        <id property="bookId" column="book_id"/>
        <result property="bookName" column="book_name"/>
        <result property="img" column="img"/>
        <result property="publisher" column="publisher"/>
        <result property="userId" column="user_id"/>
        <result property="status" column="status"/>
        <collection property="tagList" ofType="java.lang.String" javaType="ArrayList"
                    column="book_id" select="selectTag"/>
    </resultMap>


    <sql id="Base_Column_List">
    `book_id`,`book_name`,`img`,`publisher`,`status`,`create_time`,`update_time`
  </sql>

    <select id="selectBook" resultMap="VoMap">
        select
        book_id,
        book_name,
        img,
        publisher,
        status
        from book
        where book_id=#{bookId}
    </select>

    <select id="selectBookList" resultMap="VoMap">
        select
        book.book_id,
        book.book_name,
        book.img,
        book.publisher,
        book.status,
        bu.user_id
        from book
        left join book_user bu on book.book_id=bu.book_id and book.status=1 and bu.status=0
        where book.delete_flag=0
        <if test="bookName!='' and bookName!=null">and book.book_name like
            concat('%',#{bookName},'%')
        </if>
        <if test="publisher!='' and publisher!=null">and book.publisher like
            concat('%',#{publisher},'%')
        </if>
    </select>

    <select id="selectTag" parameterType="java.lang.Integer" resultType="java.lang.String">
        select `name` from tag
        join book_tag bt on bt.tag_id=tag.tag_id
        where bt.book_id=#{bookId,jdbcType=INTEGER} and tag.delete_flag=0
    </select>

</mapper>
