<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itlab.blog.mapper.KeyMapper">
  <resultMap id="BaseResultMap" type="com.itlab.blog.entity.Key">
    <id property="keyId" column="key_id"/>
    <result property="keyName" column="key_name"/>
    <result property="status" column="status"/>
  </resultMap>

  <resultMap id="VOMap" type="com.itlab.blog.model.vo.KeyVO">
    <id property="keyId" column="key_id"/>
    <result property="keyName" column="key_name"/>
    <result property="status" column="status"/>
    <!--    <result property="statusName" column="statusName"/>-->
    <result property="userId" column="user_id"/>
  </resultMap>

  <sql id="Base_Column_List">
        `key_id`,`key_name`,`status`
    </sql>

  <select id="selectKeyList" resultMap="VOMap">
    select
    ky.key_id,
    ky.key_name,
    ky.status,
    ku.user_id
    from `key` ky
    left join key_user ku on ky.key_id=ku.key_id and ky.status=1 and ku.status=0
    where ky.delete_flag=0
  </select>

</mapper>

