<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softlab.okr.mapper.KeyMapper">
  <resultMap id="BaseResultMap" type="com.softlab.okr.entity.Key">
    <id property="keyId" column="key_id"/>
    <result property="keyName" column="key_name"/>
  </resultMap>

  <resultMap id="VOMap" type="com.softlab.okr.model.vo.KeyVO">
    <id property="keyId" column="key_id"/>
    <result property="keyName" column="key_name"/>
    <result property="userName" column="name"/>
  </resultMap>

  <sql id="Base_Column_List">
        'key_id',`key_name`
    </sql>

  <select id="selectKey" resultMap="VOMap">
    select
    key.key_id,
    key.key_name,
    user_info.name
    from `key`,`key_user`
    join user_info on key.key_id=key_user.key_id and key_user.user_id=user_info.user_id
  </select>

</mapper>

