<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softlab.okr.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.softlab.okr.entity.Resource">
    <id property="resourceId" column="resource_id"/>
    <result property="method" column="method"/>
    <result property="path" column="path"/>
    <result property="name" column="name"/>
    <result property="status" column="status"/>
  </resultMap>

  <sql id="Base_Column_List">
    `resource_id`,`method`,`path`,`name`,`status`
  </sql>

  <update id="updateResourceStatus">
    update
    resource
    set status=ABS(status-1)
    where `resource_id`=#{resourceId}
  </update>

  <select id="selectByUserId" resultType="Integer">
    select re.resource_id from resource re
    join role_resource rr on rr.resource_id=re.resource_id
    join user_role ur on rr.role_id =ur.role_id
    where ur.user_id=#{userId}
  </select>


</mapper>
