<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softlab.okr.dao.RoleMapper">
  <resultMap id="roleMap" type="com.softlab.okr.model.entity.Role">
    <id property="roleId" column="role_id"/>
    <result property="name" column="name"/>
  </resultMap>
  <select id="selectByRoleId" resultMap="roleMap">
        select role_id,`name` from `role`
        where role_id=#{roleId}
    </select>

  <select id="selectByName" resultMap="roleMap">
        select role_id,`name` from `role`
        where `name`=#{name}
    </select>

  <insert id="insertUserRole">
        insert user_role  (user_id,role_id)
        values
        (#{userId},#{roleId})
    </insert>

</mapper>

