<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softlab.okr.mapper.TagMapper">
  <resultMap id="tagMap" type="com.softlab.okr.entity.Tag">
    <id property="tagId" column="tag_id"/>
    <result property="name" column="name"/>
    <result property="order" column="order"/>
  </resultMap>

  <sql id="baseColumn">
    `tag_id`,`name`,`order`
  </sql>

  <select id="selectByName" resultMap="tagMap">
    select
    <include refid="baseColumn"></include>
    from `tag` where `name`=#{name}
  </select>

  <select id="selectList" resultMap="tagMap">
    select
    <include refid="baseColumn"></include>
    from `tag` order by `order` desc
  </select>

  <select id="selectTagListByCond" resultMap="tagMap">
    select
    <include refid="baseColumn"></include>
    from tag
    where 1=1
    <if test="name!='' and name!=null">and `name` like '%${name}%'</if>
    <if test="orderRule!='' and orderRule!=null">order by `order` ${orderRule}</if>
  </select>

  <insert id="insertTag">
    insert into
    `tag`(<include refid="baseColumn"></include>)
    values
    (null,#{name},#{order})
  </insert>

  <delete id="deleteById">
    delete from `tag`
    where tag_id =#{tagId}
  </delete>

  <update id="updateTag">
    update `tag` set
    `name`=#{name},
    `order`=#{order}
    where `tag_id`=#{tagId}
  </update>


</mapper>
